body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: dimgrey;
}

.header-background {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.blok-header-logo {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.blok-header-data {
    display: flex;
    margin-top: 40px;
    margin-right: 110px;
}
.blok-header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blok-company-name{
    margin-left: 10px;
    width: 140px;
}
.company-name{
    font-weight: bold;
    font-size: 24px;

}
.tel,
.tel-text-line {
    margin: 20px 0;
}
.company-name,
.company-name-op{
    margin: 15px 0;
}
.tel{

    font-size: 38px;
}
.tel-text {
    text-align: right;
}
.tel-text-line {
    display: inline;
    border-bottom: 1px dashed;
}
a.tel {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: dimgrey;
}
@media screen and (max-width: 600px) {
    .header-background {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .blok-header-logo,
    .blok-header-data{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        text-align: center;
        align-items: center;
    }

    .company-name,
    .company-name-op,
    .tel,
    .tel-text-line,
    .tel-text {
        font-size: 12px;
        line-height: 18px;
    }

    .tel {
        font-size: 16px;
        font-weight: bold;
    }

    .blok-header-logo {
        margin-left: auto;
    }

    .blok-header-data {
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    .blok-header-logo {
        margin-left: 40px;
    }

    .blok-header-data {
        margin-right: 40px;
    }
}
