body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: dimgrey;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a,p {
    text-decoration: none;
    color: dimgrey;
    margin: 0px;
    padding: 0px;
}
.slider,menu{
    flex-grow: 1;
}
/* header */
.header-background {
    width: 100%;
    background-color: white;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.block-header-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
}
.block-header-data {
    margin-left: auto;
    display: flex;
    margin-top: 40px;
    margin-right: 50px;
}
.block-company-name{
    margin-left: 10px;
    width: 140px;
}
.company-name{
    font-weight: bold;
    font-size: 24px;
}
.tel,
.tel-text-line {
    margin: 20px 0;
}
.company-name,
.company-name-op{
    margin: 15px 0;
}
.tel a{
    letter-spacing: -2px;
    color: dimgrey;
    font-size: 38px;
}
.tel-text {
    text-align: right;
}
.tel-text h3{
    color: dimgrey;
    display: inline;

}
.tel-text h3:hover{
    border-bottom: 1px dashed;
}
.tel a:hover{
    text-decoration: underline;
}
/* menu */
.menu-background {
   width: auto;
    padding: 0;
    margin: 0;
    height: 80px;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container {
    width: 980px;
    margin: 0 auto;
    padding: 0px 10px;
}
.main-menu li{
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.main-menu li a{
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 24px;
}
.main-menu li:not(:last-child) {
    border-right: 2px solid white;
    padding-right: 20px;
}
.main-menu li:last-child {
    padding-right: 0;
}
.burger-menu {
    display: none;
}
.main-menu li a:hover{
    text-decoration: underline;
}
/* slider */
.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slick-track{
    height: 400px;
}

.slide{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.img-slide {
    margin: auto;
    display: block;
    max-width: 100%;
    position: relative;
    transform: translateY(-10%);

}
.slide-overlay {
    max-width: 980px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.prev-slide,
.next-slide {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.prev-slide img,
.next-slide img {
    max-width: 100%;
    height: auto;
}
/* content */
.container-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 10px;
}
/* category */
.category-list li{
    position: relative;
    display: inline-block;
}
.category-list li:not(:last-child)::after {
    content: " / ";
    margin: 5px;
}
.category-list li:not(:last-child) a {
    text-decoration: underline;
}
/* left menu */
.catalog {
    display: flex;
}
.left-block-category-list{
    height: 250px;
}
.left-block {
    margin-right: auto;
    width: 200px;
    margin-top: 20px;
}
.center-block {
    position: relative;
    width: 780px;
    margin-left: auto;
}
.container-all-goods{
    display: flex;
    flex-wrap: wrap;
}
.container-g{
    margin: 20px 10px 20px 10px;
}
.subcategory-list {
    display: none;
    top: 100%;
}

.left-block-category-list > li > a:hover{
    text-decoration: underline;
    font-size: 20px;
}

.category-item:hover > a {
    text-decoration: underline;
    font-size: 20px;
}
.subcategory-list {
    display: none;
}
.category-item:hover > .subcategory-list {
    display: block;
}
.subcategory-list {
    list-style: disc;
    margin-left: 20px;
}
.subcategory-list > li >a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.left-block-category-list li a{
    font-size: 16px;
    }
.img-left-block{
    display: flex;
    justify-content: center;

}
.img-left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 28px;
    font-weight: bold;
}
.prise-img-left-block{
    padding: 0px;
}
    /* goods */
.img-goods{
    height: 190px;
    width: 190px;
}
.goods{
    padding: 25px;
}
.container-goods{
    height: 380px;
    width: 240px;
    background-color: lightgray;
}
.text-goods{
    width: 160px;
}
.prise{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.trash{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-prise{
    font-weight: bold;
    font-size: 28px;
}
/* pagination */
.pagination {
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: center;
    height: 30px;
}
.pagination li{
    margin-right: 20px;
    text-align: center;
}

.pagination > li > a:hover{
    font-weight: bold;
    font-size: 20px;
}
.separator {
    margin: 20px 10px 20px 10px;
}
/*information*/
.info {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.info > div {
    flex-basis: 48%;
}
/* footer */
.block-footer{
    bottom: 0;
    overflow: auto;
    background-color: dimgrey;
}
.container-footer{
    max-width: 980px;
    padding: 10px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.container-footer a:hover {
    text-decoration: underline;
}
.container-footer p,
.container-footer a,
.container-footer li a,
.block-footer-logo img{
    color: white;
}
.block-footer-logo{
    display: flex;
}
.block-footer-logo-text{
    padding-left: 10px;
}
.block-footer-logo img{
    padding-top: 5px;
}
/*feedback*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 400px;
    position: relative;
}

.s-close{
    display: flex;
    justify-content: flex-end;
}
.close {
    background-color: darkgrey;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 34px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.feedback-form {
    width: 380px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback-form div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;

}
.feedback-form input{
    width: 250px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid darkgrey;
}
.feedback-form textarea {
    width: 250px;
    height: 90px;
    padding: 10px;
    border: 1px solid darkgrey;
    resize: none;

}
.feedback-form div label{
    margin: 0 auto;
}
.form-btn{
    height: 30px;
    width: 100px;
    margin: 20px auto;
    border: none;
    background-color: dimgrey;
    color: white;
}
/*validation*/
.feedback-form input:invalid:focus,
.feedback-form textarea:invalid:focus {
    outline: none;
    box-shadow: none;
}

.feedback-form input:invalid::placeholder{
    color: white;
}

.feedback-form:invalid input:focus:invalid{
    border-color: rgba(255, 0, 0, 0.3);
    box-shadow: inset 0 0 5px 2px rgba(255, 0, 0, 0.3);
}

.feedback-form:invalid input:focus:invalid::placeholder {
    color: rgba(255, 0, 0, 0.3);
    font-style: italic;
}


@media screen and (max-width: 1024px) {
        .slick-track{
            height: 100%
        }
        .block-header-logo{
            margin-left: 40px;
        }
        .block-header-data{
            margin-right: 40px;
        }
        .container-all-goods{
            width: 100%;
            max-width: 520px;
            margin: 0 auto;
        }

    }
@media only screen and (max-width: 600px) {
    .subcategory-list {
        display: none;
    }
}

    @media screen and (max-width: 768px) {
        .header-background{
            height: auto;
            flex-direction: column;
            padding: 0px;
            margin: 10px;
        }
        .menu-background {
            padding: 10px;
            height: auto;
            flex-direction: column;
        }
        .block-header-logo,
        .block-header-data {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        .tel a {
            font-size: 34px;
        }
        .main-menu {
            display: none;
        }
        /* we show the burger menu on smaller screens */
        .burger-menu {
            display: block;
            cursor: pointer;
            justify-content: center;
        }

        .burger-icon {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
        }
        .bar {
            width: 100%;
            height: 3px;
            background-color: #fff;
        }
        .burger-menu.show{
            display: flex;
            justify-content: center;
        }
        .main-menu.show {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .main-menu.show li {
            margin: 10px 0;
            border-right: none;
            padding: 0;
        }
        .slide-overlay{
            padding: 20px;
        }
        .slider{
            height: 100%;
        }
        .slide-overlay img {
            width: 60%;
            height: auto;
        }
        .catalog{
            flex-direction: column;
        }
        .center-block{
            max-width: 540px;
            margin: 0 auto;
        }
        .content {
            margin: 0px 40px 0px 40px;
        }
        .left-block{
            width: 100%;
        }
        .container-left-block{
            display: flex;
            margin: 0px 40px 0px 40px;
            justify-content: space-between;
        }
        .img-left-block{
            margin: 0px;
        }
        .category-item.mobile-click > .subcategory-list {
            display: none;
        }
        .category-item.mobile-click.active > .subcategory-list {
            display: block;
        }
        .category-item:active {
            display: block;
        }
    }
@media screen and (max-width: 540px) {
    .center-block{
        flex-direction: column;
        max-width: 320px;
    }
    .container-all-goods{
        margin: 0 auto;
        justify-content: center;
    }
    .left-block-category-list {
     height: 220px;
    }
    .left-block{
        margin: 0px;
    }
    .content,.container-left-block{
        margin: 10px;
    }
    .info{
        flex-direction: column;
    }
    .info-col p {
        margin-bottom: 20px;
    }
    .prise-img-left-block{
        font-size: 16px;
    }
    .img-left{
        width: 60px;
    }
    .container-footer{
        flex-direction: column;
        margin: 0 auto;
    }
    .block-footer-logo,
    .footer-info,
    .footer-list{
        margin: 10px auto;
    }
 .modal-content {
     width: 280px;
 }
    .feedback-form{
        width: 260px;
    }
    .feedback-form input{
        width: 200px;
    }
    .feedback-form textarea {
        width: 200px;
    }
}







