body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: dimgrey;
}

.header-background {
    width: 100%;
    background-color: azure;
    max-width: 980px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 250px;
}

.blok-header-logo {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.blok-header-data {
    display: flex;
    margin-top: 40px;
    margin-right: 110px;
}
.blok-header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.blok-company-name{
    margin-left: 10px;
    width: 140px;
}
.company-name{
    font-weight: bold;
    font-size: 24px;

}
.tel,
.tel-text-line {
    margin: 20px 0;
}
.company-name,
.company-name-op{
    margin: 15px 0;
}
.tel a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: dimgrey;
    font-size: 38px;
}
.tel-text {
    text-align: right;
}
.tel-text-line {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: dimgrey;
    display: inline;
    border-bottom: 1px dashed;
}
.menu-background {
   width: auto;
    padding: 0;
    margin: 0;
    height: 80px;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 980px;
    margin: 0 auto;
    padding: 0px 10px
}

.main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.main-menu li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.main-menu li a{
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 24px;
}
.main-menu li:not(:last-child) {
    border-right: 2px solid white;
    padding-right: 20px;
}

.main-menu li:last-child {
    padding-right: 0;
}
.burger-menu {
    display: none;
}


@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .header-background,
    .menu-background {
        width: 100%;
        max-width: 768px;
        height: auto;
        padding: 20px;
        flex-direction: column;
    }

    .blok-header-logo,
    .blok-header-data {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    /* Приховуємо основне меню на менших екранах */
    .main-menu {
        display: none;
    }
    /* Показуємо бургер-меню на менших екранах */
    .burger-menu {
        display: block;
        cursor: pointer;
        justify-content: center;

    }

    .burger-icon {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;

    }

    .bar {
        width: 100%;
        height: 3px;
        background-color: #fff;
    }

    .burger-menu.show{
        display: flex;
        justify-content: center;


    }
    .main-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-menu.show li {
        margin: 10px 0;
        border-right: none;
        padding: 0;
    }

}





